Data Analytics III
1. Implement Simple Na√Øve Bayes classification algorithm using Python/R on iris.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall
on the given dataset

In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score , precision_score , recall_score , confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [33]:
url = 'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv'

In [34]:
data = pd.read_csv(url)

In [35]:
df = pd.DataFrame(data)

In [36]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [38]:
df.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [39]:
df.shape

(150, 5)

In [40]:
df.size

750

In [41]:
x = df.drop(columns = ['species'])
y = df['species']

In [42]:
xtrain , xtest , ytrain , ytest = train_test_split(x,y,test_size = 0.2 , random_state= 42)

In [43]:
model = GaussianNB()

In [44]:
model.fit(xtrain,ytrain)
ypred = model.predict(xtest)
model.score(xtrain,ytrain)

0.95

In [45]:
accuracy = accuracy_score(ytest,ypred)
error = 1-accuracy
recall = recall_score(ytest,ypred,average='macro')
precision = precision_score(ytest,ypred,average='macro')
cm = confusion_matrix(ytest,ypred)

In [46]:
print(f"Accuracy : {accuracy}")
print(f"Recall : {recall}")
print(f"Precision : {precision}")
print(f"cm : {cm}")

Accuracy : 1.0
Recall : 1.0
Precision : 1.0
cm : [[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

In [48]:
class_idx = list(model.classes_).index('setosa')
TN = cm[class_idx , class_idx]
FP = cm[class_idx , :].sum() - TN
FN = cm[:,class_idx].sum() - TN
TP  = cm.sum() - (TN+FP+FN)

In [50]:
print(f"TP : {TP}")
print(f"FN : {FN}")
print(f"FP : {FP}")
print(f"TN : {TN}")

TP : 20
FN : 0
FP : 0
TN : 10